body{
    background:white;
}
.title {
   
    border-bottom: 50px solid black;
    background-color: rgb(255, 255, 255);
    height: 80px;
    font-family: Georgia;
    width: 100%;
   } 

.title img{
    padding-left:15px;
    padding-top: 10px;
    float:left;

    }

.title h3{
   
   float: left;
   width: auto;
   color: rgb(52, 179, 179);
   margin-top: 30px;
   margin-left: 10px;   
}

 .title li{
    display: inline-block;
    width:70px;
    font-size: 20px;
    
}

ul{

    margin: 10px auto;
    padding: 20px;
    text-align: right;
}


a{
    color:black;
}

.pa{
    border-bottom: 10px solid black;
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
    height: 300px;
    align-items: flex-start;
    margin-top: 120px;
      
}
.pa p{
    padding-top: 60px;
    font-size: 40px;
    text-align:center;
    color: white;
   
}
.large{
    
    width: 630px;
    margin-top: 10px;
    flex-direction: column;
    display: inline-table;
    float:left;

}

.col {
       
        float: left;
        width: 270px;
        padding: 5px 10px;
    }
       
.pic {
        padding: 5px 10px;
        background-color: #ffffff;
        position: relative;
        

       }

.pic h1 {
    font-size: 30px;
}

.center{
    
        bottom: 100px;
        position:absolute;
        color: #ffffff;
        font-size: 40px;
        font-family: Georgia;
        text-align: center;
}

.medium{
   
    width: 300px;
    float:right;
    margin-right: 380px;
    margin-top:80px;
      
}

.medium h3{
    font-family: Georgia;
    font-size: 30px;
    color: black;
}

.medium p{
    font-size: 17px;

}

.medium h2{
    bottom: 200px;
    position:relative;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    
}

.small {
   
    width: 280px;
    margin-top: 150px;
    flex-direction: column;
    position: absolute;
    margin-left: 1000px;
    
    
}
 .border{
    border-bottom: 10px solid black;
    overflow: scroll;
    height: 400px;
   
}
.small h4{
    
    padding-bottom:10px;
    border-bottom: 1px solid black;
    color: gray;

}

.small h2{
    border-bottom: 5px solid black;
    text-align: center;
}

.small h4{
    border-bottom: 2px solid black;
    text-align: center;
}
  
 footer{
      
    color: whitesmoke;
    background-color: rgb(32, 204, 190);
    margin-top: 600px;
    padding-top: 100px;
     }

 .footer h3{
     font-size: 30px;
     text-align: center
    
 }

 footer li{
     
     text-align: center;
     display: inline-block;
     width:30px;
     margin-right: 83px;
     font-size: 20px;
     

 }
 
 